.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
}

.cells {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto;
}

.cells > div {
    margin: 0 0px 8px 0px;
}
