.wrapper {
    background-color: #fff3eb;
    border-left: 100vw solid white;
    border-bottom: 100vh solid transparent;
}

.content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: 0 80px;
}

.imageBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}

.image {
    max-width: 624px;
    max-height: 367px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 56px;
    margin-bottom: 64px;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column;
        padding: 48px 16px;
    }

    .imageBlock {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .title {
        font-size: 32px;
        text-align: center;
    }
}
